<div class="navbar-register">
    <div class="row">
        <div class="process-name">{{title}}</div>
        <button class="btn-nav btn-minimize" alt="minimize"></button>
        <button class="btn-nav btn-quit" alt="quit"></button>
    </div>
    <div class="row">
        <button class="button-back {{btn_back_class}}">
            <img src="img/back_arrow.png"/>
            Back
        </button>
    </div>
</div>