<div class="row settings-bottom-menu">
    <div class="add-account">
        <div class="img-container">
            <img id="btnAddApp" src="img/settings-screen/add_icon.png" alt="">
        </div>
        <div class="label-container">
            <span>Add Authenticator Account</span>
        </div>
    </div>
    <div class="backups">
        <label for="backups-checkbox">Backups &amp; Sync</label>
        <div class="custom-checkbox">
            <input type="checkbox" id="backups-checkbox">
            <label for="backups-checkbox"></label>
        </div>
    </div>
</div>
