<div class="account-screen">

    <div class="row cellphoneRow" >
        <div class="cellphoneLabel">
            Cellphone number
        </div>
        <input type="text" id="authy-countries" class="white" value="{{countryCode}}" readonly/>
        <div class="cellphoneInput">
            <input type="text" id="txtPhoneNumber" class="white" value="{{phone}}" readonly/>
            <a id="btnEditPhoneNumber">Edit</a>
        </div>
    </div>
    <div class="row inputRow emailRow">
        <div class="inputLabel" >
            Email
        </div>
        <div class="inputInput">
            <input type="text" id="txtEmail" class="white txtInput" value="{{email}}" readonly/>
            <a id="btnEditEmail">Edit</a>
        </div>
    </div>
    <div class="row inputRow">
        <div class="inputLabel" >
            Master Password
        </div>
        <div class="inputInput passwordInput {{^hasPassword}}noPassword{{/hasPassword}}">
            <input type="password" id="txtMasterPassword" class="white txtInput" placeholder="No password" {{#hasPassword}}readonly value="**********"{{/hasPassword}}{{^hasPassword}}autofocus{{/hasPassword}}/>
            <a id="btnSetMasterPassword" class="btnMasterPassword {{#hasPassword}}hide{{/hasPassword}}">Set</a>
            <a id="btnChangeMasterPassword" class="btnMasterPassword {{^hasPassword}}hide{{/hasPassword}}">Change</a>
            <a id="btnSaveMasterPassword" class="btnMasterPassword hide">Save</a>
        </div>
    </div>
    <div class="row passwordMsg {{#hasPassword}}hide{{/hasPassword}}">
        <p>
            You don't have a password yet. It's important to set one to keep your accounts safe on your desktop.
        </p>
    </div>
    {{^isExtInstalled}}
    <div class="row extensionLink">
        <img src="/img/tip_icon.png">
        <p>
            For extra security and convenience install our Chrome Extension. It protects you against phishing attacks and lets you access your tokens faster. <a href="https://chrome.google.com/webstore/detail/fhgenkpocbhhddlgkjnfghpjanffonno" target="_blank">Install extension</a>
        </p>
    </div>
    {{/isExtInstalled}}
</div>
