<div class="changePhoneConfirmationScreen">

    <div class="row title">
        <p>Confirmation Pin</p>
    </div>
    <div class="row explanation">
        <p>For security, we'll send a confirmation pin to your current phone via text message or phone call.</p>
        <p>Get the confirmation pin via:</p>
    </div>
    <div class="row confirmationPinButtons">
        <div id="btnRequestPinSms" class="button-blue button-sms button-request">
            <img src="img/sms_icon.png"/>
            <span>SMS</span>
        </div>
        <span>or</span>
        <div id="btnRequestPinCall" class="button-green button-call button-request">
            <img src="img/call_icon.png"/>
            <span>CALL</span>
        </div>
    </div>
    <div class="row inputs" >
        <div class="small-8 columns">
            <input id="txtConfirmationPin" type="text" class="white" placeholder="Type your confirmation pin" />
        </div>
        <div class="small-4 columns">
            <button id="btnConfirm" class="button-blue">Verify</button>
        </div>
    </div>

</div>
