<div class="createAuthenticatorAccount">

    <div class="row title">
        <p>New Authenticator Account</p>
    </div>
    <div class="row explanation">
        <p>You can add any account that uses google authenticator such as
        Gmail, Facebook, Dropbox, Evernote and many more using Authy.</p>
        <p>For the time being, we can't add by scanning a qr code, but you can
        add accounts by entering the code that you get from the website.</p>
    </div>
    <div class="row inputs" >
        <div class="small-8 columns">
            <input id="txtEnterCode" type="text" class="white" placeholder="Enter Code" />
        </div>
        <div class="small-4 columns">
            <button id="btnAddAccount" class="button-blue">Add Account</button>
        </div>
    </div>

</div>
