<div class="deviceRequest">

    <div class="deviceRequestImage">
        <img src="img/settings-screen/devices_image.png" alt="">
    </div>

    <div class="deviceName">
        <p>A new device called "{{name}}" wants to be added as another device. Do you accept?</p>
    </div>
    <div class="deviceButtons">
        <button id="btnAccept" class="button-rounded-blue">Accept</button>
        <button id="btnReject" class="button-rounded-red">Deny</button>
    </div>

    <div class="deviceInfo">
        <p>
            More info:
            <span class="deviceInfoLabel">IP Address: </span> {{ip}},
            <span class="deviceInfoLabel">Device Name: </span> {{name}}
        </p>
    </div>

</div>
