<div class="tab-multi-device">

    <div class="header">
        <div class="row">
            <div class="small-10 large-10 columns multi-device-title">
                Multi-device
            </div>
            <div class="small-2 large-2 columns">
                <div class="custom-checkbox">
                    <input type="checkbox" id="checkboxMultiDeviceState" {{#multiDeviceEnabled}} checked {{/multiDeviceEnabled}}>
                    <label for="checkboxMultiDeviceState"></label>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        {{#devices}}
            <div class="row device-row">
                <div class="small-2 large-2 columns">
                    <img src="{{icon}}" alt="">
                </div>
                <div class="small-7 large-7 columns ">
                    <p class="deviceName">{{name}}</p>
                </div>
                <div class="small-3 large-3 columns">
                    <button class="button-red" data-device-id="{{id}}">Remove</button>
                </div>
                <div class="device-details">
                    <p>Latest access: {{#lastSyncAt}}{{#prettyDate}}{{lastSyncAt}}{{/prettyDate}}{{/lastSyncAt}}{{^lastSyncAt}}No date available{{/lastSyncAt}}</p>
                    <p>Location: {{#city}}{{city}}, {{country}}{{/city}}{{^city}}No location available{{/city}}</p>
                    <p>Device type: {{#humanize}}{{deviceType}}{{/humanize}}</p>
                </div>
            </div>
        {{/devices}}
        {{^devices}}
            <div class="noDevices">You have not added any additional devices</div>
        {{/devices}}
    </div>

</div>
