<div class="backups-password-screen">
    {{> navbar}}
    <div class="row backups-title" >
        <div class="backups-title-label">
            Backups:
        </div>
        <div class="backups-title-image">
            <img src="img/backups-password-screen/backups_cloud.png">
        </div>
    </div>
    <div class="row backups-text">
        <p>
            Authy will store an encrypted copy of all your accounts so if you upgrade or lose your phone, you can easily restore them.
        </p>
        <p>
            Enter a backups encryption password below, and Authy will encrypt and backup all your accounts.
        </p>
    </div>
    <div class="row backups-form">
        <div class="password-input">
            <input id="password-text" class="white" type="password" placeholder="Enter a backups password" />
        </div>
        <div class="button-input">
            <button id="btn-set-backups-password" class="small button-blue">Enable Backups</button>
        </div>
    </div>

    {{> settings_bottom_menu }}

</div>
