                <div class="tab-multi-device">
                    <div class="row header">
                        <div class="small-10 large-10 columns">
                            Multi-device
                        </div>
                        <div class="small-2 large-2 columns">
                            <input id="checkAllowMultiDevices" type="checkbox">
                        </div>
                    </div>
                    <div class="row device-row">
                        <div class="small-2 large-2 columns">
                            <img src="img/settings-screen/android_phone_icon.png" alt="">
                        </div>
                        <div class="small-7 large-7 columns">
                            <p>My iPhone 5s</p>
                        </div>
                        <div class="small-3 large-3 columns">
                            <button class="button-red"> Remove </button>
                        </div>
                    </div>
                </div>
