<div class="registration-screen">
    {{> navbar_register}}

    <div class="container">
        <div id="inputContainer">
            <h1>Let's set up your computer.</h1>
            <div id="sectionPhone" >
                <div class="row">
                    <input type="text" class="dark" id="authy-countries" placeholder="Country" autofocus>
                    <input type="text" class="dark countries-input disabled" id="txtCountryClone" readonly="readonly">
                    <input type="text" class="dark" id="txtCellphone" placeholder="Your Authy cellphone number">
                    <button id="btnGetDeviceStatus" class="button-green">OK</button>
                </div>
                <div class="row">
                    <p id="txtMessage">Cellphone number should be the same you use for Authy on your mobile phone and all your other devices.</p>
                </div>
            </div>
            <div id="sectionEmail" class="hide">
                <div class="row">
                    <input type="text" class="dark" id="txtEmail" placeholder="Enter your email to create a new account">
                    <button id="btnSetEmail" class="button-green">OK</button>
                </div>
            </div>
        </div>
        <div id="verificationContainer">
            <div id="sectionVerification">
                <h2>Verify my identity via:</h2>
                <div class="verificationOptions">
                    <div class="row">
                        <div id="verificationCall" class="verificationButton">
                            <img src="/img/registration-screen/call_btn.png">
                            <span class="verificationLabel">Call</span>
                        </div>
                        <div id="verificationSms" class="verificationButton">
                            <img src="/img/registration-screen/sms_btn.png">
                            <span class="verificationLabel">SMS</span>
                        </div>
                    </div>
                    <div class="row">
                        <div id="verificationPush" class="verificationButton">
                            <img src="/img/registration-screen/device_btn.png">
                            <span class="verificationLabel">Another Device</span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sectionCall" class="verificationPinSection">
                <h2>We are calling you right now. <br> Your registration code is:</h2>
                <span id="callPin">28</span>
            </div>
            <div id="sectionSms" class="verificationPinSection">
                <h2>We are sending you an SMS.</h2>
                <input type="text" class="dark" id="txtRegistrationPin" placeholder="Enter your registration pin">
            </div>
            <div id="sectionPush" class="verificationPinSection">
                <h2>Waiting for approval</h2>
                <p>Open the Authy App on any of your other devices to approve this device.</p>
                <img src="/img/preloader.gif">
            </div>
        </div>
    </div>
</div>
