<div class="settings-screen">

    <div class="row navbar">
        <div id="nav-buttons">
          <div class="back-button">
            <img src="img/settings-screen/back_arrow.png" alt="back button">
          </div>
          <div class="next-button">
            <img src="img/settings-screen/next_arrow_disabled.png" alt="next button">
          </div>
        </div>
        <button id="btnQuitSettings" class="btn-navbar"></button>
        <button id="btnMinimize" class="btn-navbar"></button>
    </div>
    <div>
        <div class="row">
            <div id="tabHeaderAccount" class="small-4 large-4 columns tab">
                <img id="imgAccount" src="img/settings-screen/account_icon_gray.png" alt="">
                <div>Account</div>
                <div class="border"></div>
                {{^hasPassword}}<img id="notifIcon" src="img/notification.png" alt="">{{/hasPassword}}
            </div>
            <div id="tabHeaderExternalAccounts" class="small-4 large-4 columns tab">
                <img id="imgExternalAccounts" src="img/settings-screen/ext_accounts_icon_gray.png" alt="">
                <div>External Accounts</div>
                <div class="border"></div>
            </div>
            <div id="tabHeaderDevices" class="small-4 large-4 columns tab">
                <img id="imgDevices" src="img/settings-screen/devices_icon_gray.png" alt="">
                <div>Devices</div>
                <div class="border"></div>
            </div>
        </div>
    </div>

    <div id="tabContent">

    </div>

    {{> settings_bottom_menu}}

</div>
