<div class="unblock-screen">

    {{> navbar}}

    <div class="container">
        <div class="message-container">
            <div class="row">
                <p>Enter your Master Password</p>
            </div>
        </div>
        <div class="enter-password-container">
            <div class="row">
                <input type="password" class="holo" id="txtPassword" autofocus="autofocus"/>
            </div>
            <div class="row">
                <input type="text" class="holo hide" id="txtPasswordMessage"/>
            </div>
            <div class="row">
                <button id="btnEnterPassword" class="button-blue small">Unlock</button>
            </div>
            <div class="unblock-input-border"></div>
        </div>
    </div>
</div>
