<div class="update-backups-password-screen">

    {{> navbar}}

    <div class="container">
        <div class="message-container">
            <div class="row">
                <p>Your backups password has changed</p>
                <p>You changed the backups password in another device, please enter this new password.</p>
            </div>
        </div>
        <div class="enter-password-container">
            <div class="row">
                <input type="password" class="holo" id="txtPassword" autofocus/>
            </div>
            <div class="row">
                <input type="text" class="holo hide" id="txtPasswordMessage"/>
            </div>
            <div class="row">
                <button id="btnEnterPassword" class="button-blue small">Done</button>
            </div>
            <div class="unblock-input-border"></div>
        </div>
    </div>
</div>
